extends layout

block content
	script.
		function expand(){
			document.getElementById("background").classname="expand";
			document.getElementById("content").classname="active";
		}
		window.onload = function() {expand(); }
	script.
		function onclick(){
			document.getElementById("createButton");
			document.getElementById("manageButton");
		}

	div(id="buttons")
		button(type='button' name='createButton') Create User
		button(type='button' name='manageButton') Manage User
