extends layout

block content
	p(id="heading") Select a course
	form(action="gradeAssessment", method="post", id="selectForm")
		select(type="listbox", name="studentNames", id="studentNames", multiple="" style="min-width: 415px; min-height:200px; overflow:visible", class="listbox")
			each name in students
				option(value= name)= name

		br
		br
		input(type="submit", name="submit", value="Select Student", class="button")
