extends layout
block content
	script.
		function recalculateColors(parentNode){
			var textfields = parentNode.getElementsByClassName("textfield");
			var color_jumps = 351/(textfields.length);
			var red = 99;
			var green = 255;
			var blue = 0;
			
			//Modus: Fill up red first (yellow), than reduce green to 0
			for(var i=0; i<textfields.length; i++){
				textfields[i].style.backgroundColor = "#" + Math.round(red).toString(16) + Math.round(green).toString(16) + "00";
				if(red+color_jumps > 255){
					green = green - (color_jumps-(255-red));
					red = 255;
				}
				else{
					red = red+color_jumps;
				}
			}
		}	
	
		function addSmileyToAssignment(){	
			var allQuestions = event.target.parentNode.getElementsByClassName("questionHolder")[0].getElementsByClassName("singleQuestionHolder");
			for(var i = 0; i<allQuestions.length; i++){
				var smileyHolder = allQuestions[i].getElementsByClassName("smileyHolder")[0];
				if(smileyHolder.children.length < 5){
					var newSmiley = document.createElement("input"); //Create a smiley field
					newSmiley.className = "textfield";
					newSmiley.style.width = "16px";
					newSmiley.maxLength = "2";
					smileyHolder.appendChild(newSmiley);
					recalculateColors(smileyHolder);
					event.target.parentNode.getElementsByClassName("questionHolder")[0].smileyCount = smileyHolder.children.length; //Remember the number of smileys every quesiton has
				}
			}
		}
		
		function removeSmileyFromAssignment(){
			var allQuestions = event.target.parentNode.getElementsByClassName("questionHolder")[0].getElementsByClassName("singleQuestionHolder");
			for(var i = 0; i<allQuestions.length; i++){
				var smileyHolder = allQuestions[i].getElementsByClassName("smileyHolder")[0];
				if(smileyHolder.children.length > 2){
					smileyHolder.removeChild(smileyHolder.getElementsByClassName("textfield")[smileyHolder.children.length-1]);
					recalculateColors(smileyHolder);
					event.target.parentNode.getElementsByClassName("questionHolder")[0].smileyCount = smileyHolder.children.length; //Remember the number of smileys every quesiton has
				}
			}
		}
	
		function addQuestionToAssignment(){
			var newQuestion = function(){}; //Create a placeholder object
			parentDiv = event.target.parentNode.getElementsByClassName("questionHolder")[0];
			childDiv = document.createElement("div");
			childDiv.className = "singleQuestionHolder";
			
			newQuestion.description = document.createElement("input");
			newQuestion.description.placeholder = "Question Description";
			newQuestion.description.className = "textfield";
			
			newQuestion.smileyHolder = document.createElement("span");
			newQuestion.smileyHolder.className = "smileyHolder";
			newQuestion.smileyHolder.smileys = 2; //We have to count, since we want max 5, min 2 SmileyFields
			
			var smileysToAdd = new Array();
			for(var i = 0; i<parentDiv.smileyCount; i++){
				var newSmiley = document.createElement("input"); //Create first smiley field
				newSmiley.className = "textfield";
				newSmiley.style.width = "16px";
				newSmiley.maxLength = "0";
				newQuestion.smileyHolder.appendChild(newSmiley);
			}
			recalculateColors(newQuestion.smileyHolder);
						
			placeholder =  document.createElement("label");
			placeholder.style.minWidth = "40px";
			placeholder.style.display = "inline-block";
			
			childDiv.appendChild(placeholder);
			childDiv.appendChild(newQuestion.description);
			childDiv.appendChild(newQuestion.smileyHolder);
			childDiv.appendChild(document.createElement("br"));
			parentDiv.appendChild(childDiv);
		}
		
		function addAssignmentToList(){
			var newAssignment = function(){}; //Create a placeholder object
			var assignmentHolder = document.createElement("div");
						
			newAssignment.description = document.createElement("input");
			newAssignment.description.placeholder = "Assignment Description";
			newAssignment.description.className = "textfield";
			
			newAssignment.addQuestionButton = document.createElement("input");
			newAssignment.addQuestionButton.type = "button";
			newAssignment.addQuestionButton.className = "button";
			newAssignment.addQuestionButton.value = "Add Question";
			newAssignment.addQuestionButton.onclick = function(){addQuestionToAssignment(this);};
			
			placeholder =  document.createElement("label");
			placeholder.style.minWidth = "20px";
			placeholder.style.display = "inline-block";
			
			newAssignment.addSmileyButton = document.createElement("input");
			newAssignment.addSmileyButton.type = "button";
			newAssignment.addSmileyButton.className = "button";
			newAssignment.addSmileyButton.value = "+";
			newAssignment.addSmileyButton.onclick = function(){addSmileyToAssignment(this);};
			
			newAssignment.removeSmileyButton = document.createElement("input");
			newAssignment.removeSmileyButton.type = "button";
			newAssignment.removeSmileyButton.className = "button";
			newAssignment.removeSmileyButton.value = "-";
			newAssignment.removeSmileyButton.onclick = function(){removeSmileyFromAssignment(this);};
			
			assignmentHolder.appendChild(placeholder);			
			assignmentHolder.appendChild(newAssignment.description);
			assignmentHolder.appendChild(newAssignment.addQuestionButton);
			assignmentHolder.appendChild(newAssignment.addSmileyButton);
			assignmentHolder.appendChild(newAssignment.removeSmileyButton);
			assignmentHolder.appendChild(document.createElement("br"));
			
			newAssignment.questionHolder = document.createElement("div");
			newAssignment.questionHolder.id = "questionHolder";
			newAssignment.questionHolder.className = "questionHolder";
			newAssignment.questionHolder.smileyCount = 2;
			assignmentHolder.appendChild(newAssignment.questionHolder);
			
			document.getElementById("assignmentTable").appendChild(assignmentHolder);
		}
		
	p(id="heading") Create a new assessment
	form(action="/createAssessmentDo", method="post" id="createForm")
		input(type="text", name="assessmentName", placeholder="Asessment Name", class="textfield") 
		input(type="button", name="addAssignment", value="Add Assignment", onclick="addAssignmentToList()", class="button")
		br
		#assignmentTable
		input(type="hidden", name="postStudents", id="postStudents", value="")
		input(type="submit", value="Create Course", class="button")
