extends layout
block content
	script.
		
		function submitAssessment(){
			var assessmentArray = new Array();
			var allAssignmentNodes = event.target.parentNode.childNodes[3].childNodes;
			for(var i = 0; i<allAssignmentNodes.length; i++){
				var oneAssignment = new function(){};
				oneAssignment.description = allAssignmentNodes[i].childNodes[1].value;
				
				if(allAssignmentNodes[i].childNodes[5].value != "Tolerance"){
					oneAssignment.tolerance = allAssignmentNodes[i].childNodes[5].value;
				}
				else{
					oneAssignment.tolerance = "";
				}
				
				oneAssignment.questions = new Array();
				var allQuestionNodes = allAssignmentNodes[i].childNodes[8];				
				for(var j = 0; j<allQuestionNodes.childNodes.length; j++){
					var oneQuestionNode = allQuestionNodes.childNodes[j];
					var oneQuestion = new function(){}
					oneQuestion.description = oneQuestionNode.childNodes[1].value;
					oneQuestion.points = oneQuestionNode.childNodes[2].value;
					oneQuestion.smileys = oneQuestionNode.childNodes[3].childNodes.length;
					oneAssignment.questions.push(oneQuestion);
				}
				assessmentArray.push(oneAssignment);
			}
			event.target.parentNode.childNodes[4].value = JSON.stringify(assessmentArray);
			event.target.parentNode.submit();
		}
	
		function enableTolerance(){
			var parentDiv = event.target.parentNode;
			parentDiv.removeChild(parentDiv.getElementsByClassName("button")[3]);
			var toleranceField = document.createElement("input");
			toleranceField.className = "textfield";
			toleranceField.style.width = "60px";
			toleranceField.placeholder = "Tolerance";
			toleranceField.maxLength = "8";
			console.log(parentDiv.getElementsByClassName("endAnchor"));
			parentDiv.insertBefore(toleranceField, parentDiv.getElementsByClassName("endAnchor")[0]);
		}
		
		function recalculateColors(parentNode){
			var textfields = parentNode.getElementsByClassName("textfield");
			var color_jumps = 351/(textfields.length);
			var red = 99;
			var green = 255;
			var blue = 0;
			
			//Modus: Fill up red first (yellow), than reduce green to 0
			for(var i=0; i<textfields.length; i++){
				textfields[i].style.backgroundColor = "#" + Math.round(red).toString(16) + Math.round(green).toString(16) + "00";
				if(red+color_jumps > 255){
					green = green - (color_jumps-(255-red));
					red = 255;
				}
				else{
					red = red+color_jumps;
				}
			}
		}	
	
		function addSmileyToAssignment(){	
			var allQuestions = event.target.parentNode.getElementsByClassName("questionHolder")[0].getElementsByClassName("singleQuestionHolder");
			for(var i = 0; i<allQuestions.length; i++){
				var smileyHolder = allQuestions[i].getElementsByClassName("smileyHolder")[0];
				if(smileyHolder.children.length < 5){
					var newSmiley = document.createElement("input"); //Create a smiley field
					newSmiley.className = "textfield";
					newSmiley.style.width = "16px";
					newSmiley.maxLength = "2";
					newSmiley.disabled = true;
					smileyHolder.appendChild(newSmiley);
					recalculateColors(smileyHolder);
					event.target.parentNode.getElementsByClassName("questionHolder")[0].smileyCount = smileyHolder.children.length; //Remember the number of smileys every quesiton has
				}
			}
		}
		
		function removeSmileyFromAssignment(){
			var allQuestions = event.target.parentNode.getElementsByClassName("questionHolder")[0].getElementsByClassName("singleQuestionHolder");
			for(var i = 0; i<allQuestions.length; i++){
				var smileyHolder = allQuestions[i].getElementsByClassName("smileyHolder")[0];
				if(smileyHolder.children.length > 2){
					smileyHolder.removeChild(smileyHolder.getElementsByClassName("textfield")[smileyHolder.children.length-1]);
					recalculateColors(smileyHolder);
					event.target.parentNode.getElementsByClassName("questionHolder")[0].smileyCount = smileyHolder.children.length; //Remember the number of smileys every quesiton has
				}
			}
		}
	
		function addQuestionToAssignment(){
			var newQuestion = function(){}; //Create a placeholder object
			parentDiv = event.target.parentNode.getElementsByClassName("questionHolder")[0];
			childDiv = document.createElement("div");
			childDiv.className = "singleQuestionHolder";
			
			newQuestion.description = document.createElement("input");
			newQuestion.description.placeholder = "Question Description";
			newQuestion.description.className = "textfield";
						
			newQuestion.totalPoints = document.createElement("input");
			newQuestion.totalPoints.placeholder = "Pts";
			newQuestion.totalPoints.className = "textfield";
			newQuestion.totalPoints.style.width = "20px";
			newQuestion.totalPoints.maxLength = "3";
			
			newQuestion.smileyHolder = document.createElement("span");
			newQuestion.smileyHolder.className = "smileyHolder";
			newQuestion.smileyHolder.smileys = 2; //We have to count, since we want max 5, min 2 SmileyFields
			
			var smileysToAdd = new Array();
			for(var i = 0; i<parentDiv.smileyCount; i++){
				var newSmiley = document.createElement("input"); //Create first smiley field
				newSmiley.className = "textfield";
				newSmiley.style.width = "16px";
				newSmiley.maxLength = "2";
				newSmiley.disabled = true;
				newQuestion.smileyHolder.appendChild(newSmiley);
			}
			recalculateColors(newQuestion.smileyHolder);
						
			placeholder =  document.createElement("label");
			placeholder.style.minWidth = "40px";
			placeholder.style.display = "inline-block";
			
			newQuestion.endAnchor = document.createElement("label");
			newQuestion.endAnchor.className = "endAnchor"; 
			newQuestion.endAnchor.style.minWidth = "1px";
			
			childDiv.appendChild(placeholder);
			childDiv.appendChild(newQuestion.description);
			childDiv.appendChild(newQuestion.totalPoints);
			childDiv.appendChild(newQuestion.smileyHolder);
			childDiv.appendChild(newQuestion.endAnchor);
			childDiv.appendChild(document.createElement("br"));
			parentDiv.appendChild(childDiv);
		}
		
		function addAssignmentToList(){
			var newAssignment = function(){}; //Create a placeholder object
			var assignmentHolder = document.createElement("div");
						
			newAssignment.description = document.createElement("input");
			newAssignment.description.placeholder = "Assignment Description";
			newAssignment.description.className = "textfield";
			
			newAssignment.addQuestionButton = document.createElement("input");
			newAssignment.addQuestionButton.type = "button";
			newAssignment.addQuestionButton.className = "button";
			newAssignment.addQuestionButton.value = "Add Question";
			newAssignment.addQuestionButton.onclick = function(){addQuestionToAssignment(this);};
			
			placeholder =  document.createElement("label");
			placeholder.style.minWidth = "20px";
			placeholder.style.display = "inline-block";
			
			newAssignment.addSmileyButton = document.createElement("input");
			newAssignment.addSmileyButton.type = "button";
			newAssignment.addSmileyButton.className = "button";
			newAssignment.addSmileyButton.value = "Add Step";
			newAssignment.addSmileyButton.onclick = function(){addSmileyToAssignment(this);};
			
			newAssignment.removeSmileyButton = document.createElement("input");
			newAssignment.removeSmileyButton.type = "button";
			newAssignment.removeSmileyButton.className = "button";
			newAssignment.removeSmileyButton.value = "Remove Step";
			newAssignment.removeSmileyButton.onclick = function(){removeSmileyFromAssignment(this);};
			
			newAssignment.addToleranceButton = document.createElement("input");
			newAssignment.addToleranceButton.type = "button";
			newAssignment.addToleranceButton.className = "button";
			newAssignment.addToleranceButton.value = "Tolerance";
			newAssignment.addToleranceButton.style.width = "72px";
			newAssignment.addToleranceButton.onclick = function(){enableTolerance(this);};
			
			newAssignment.endAnchor = document.createElement("label");
			newAssignment.endAnchor.className = "endAnchor"; 
			newAssignment.endAnchor.style.minWidth = "1px";
			
			assignmentHolder.appendChild(placeholder);			
			assignmentHolder.appendChild(newAssignment.description);
			assignmentHolder.appendChild(newAssignment.addQuestionButton);
			assignmentHolder.appendChild(newAssignment.addSmileyButton);
			assignmentHolder.appendChild(newAssignment.removeSmileyButton);
			assignmentHolder.appendChild(newAssignment.addToleranceButton);
			assignmentHolder.appendChild(newAssignment.endAnchor);
			assignmentHolder.appendChild(document.createElement("br"));
			
			newAssignment.questionHolder = document.createElement("div");
			newAssignment.questionHolder.id = "questionHolder";
			newAssignment.questionHolder.className = "questionHolder";
			newAssignment.questionHolder.smileyCount = 2;
			assignmentHolder.appendChild(newAssignment.questionHolder);
			
			document.getElementById("assignmentTable").appendChild(assignmentHolder);
		}
		
	p(id="heading") Create a new assessment
	form(action="/createAssessmentDo", method="post" id="createForm")
		input(type="text", name="assessmentName", placeholder="Asessment Name", class="textfield") 
		input(type="button", name="addAssignment", value="Add Assignment", onclick="addAssignmentToList()", class="button")
		br
		#assignmentTable
		input(type="hidden", name="postAssessment", id="postAssessment", value="")
		input(type="button", value="Create Assessment", class="button", onclick="submitAssessment()")
