extends layout
block content
	script.
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange=function(){
			if (xmlhttp.readyState==4 && xmlhttp.status==200){
				console.log(JSON.parse(xmlhttp.responseText)["assessment"]);
				document.getElementById("assessmentDiv").innerHTML=JSON.parse(xmlhttp.responseText)["assessment"];
			}
		}
		//Request the assessment from the DB
		xmlhttp.open("GET","getAssessment?a=" + "Banana",true);
		xmlhttp.send()
		
	p(id="heading") Grade an assessment
	form(action="/gradeAssessmentDo", method="post" id="gradeForm")
		#assessmentDiv
		
	
