extends layout

block content
  div
    h1= title
    p Bitte geben Sie Ihren Benutzernamen ein, der Ihnen von der zentralen Benutzernamenvergabestelle zugeteilt wurde.
    p Falls Sie Ihr Passwort vergessen haben, dann tut es mir Leid, es gibt zum jetzigen Zeitpunkt keine Möglichkeit Ihr Passwort wiederherzustellen.
    p Bitte geraten Sie nicht in Panik!