extends layout

block content
  div(id="header")
    h1= title
    p Alle Bewertungen auf einen Blick
  div(id="background"): div(id="content")
    form(action="login", method="post")
      input(type="text", name="name", placeholder="Username", class="textfield") 
      br
      input(type="text", name="pw", placeholder="Passwort", class="textfield")
      br
      input(type="submit", value="login", class="button")
    div: a(href="hilfe") Hilfe beim Einloggen?
  div(id="footer")
    ul
      li: a(href="hilfe") Hilfe
      li: a(href="nbd") Nutzungsbedingungen
      li: a(href="pass") Was ist PASS?
