extends layout

block content
  form(action="/login", method="post")
    input(type="text", name="name", placeholder="Username", class="textfield") 
    br
    input(type="text", name="pw", placeholder="Passwort", class="textfield")
    br
    input(type="submit", value="login", class="button")
  div(class="centertext"): a(href="hilfe") Hilfe beim Einloggen?
