doctype html
html
	script.
		function setActive(name){
			document.getElementById(name).className="active"
		}
		
		function setInactive(name){
			document.getElementById(name).className="inactive"
		}
		
		function expand() {
			document.getElementById("background").className="expand";
			document.getElementById("content").className="active";
		}
		
		window.onload = function() { expand(); }
	
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		div(id="header")
			h1= title
			p all grades at a glance

		div(id = "menu" onclick="setInactive('menu'); setActive('menubutton');")
			ul
				li: a(href="main") Dashboard
				li: a(href="/") Logout

		img(src="/images/menubutton.svg", id = "menubutton", class="active", width=50, height=50, onclick="setActive('menu'); setInactive('menubutton');")
		div(id="wrapper")
			div(id="background" class="original"): div(id="content" class="active"): block content
		div(id="footer")
			ul
				li: a(href="hilfe") help
				li: a(href="nbd") terms of service
				li: a(href="pass") about
