extends layout

block content
  script.
    function expand() {
      document.getElementById("background").className="expand";
      document.getElementById("content").className="active";
    }
    window.onload = function() { expand(); }