extends layout

block content
  script.
    function expand() {
      document.getElementById("background").className="expand";
      document.getElementById("content").className="active";
    }
    window.onload = function() { expand(); }
  
   a(id="indexButton" class="green" href="./createCourse")Create course
   a(id="indexButton" class="blue" href="./createAssessment")Create assessment
   a(id="indexButton" class="red" href="./gradeAssessment")Grade assessment
   a(id="indexButton" class="purple" href="./scoreStudent")Score student
