body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0px;
  padding: 0px;
}
.textfield {
  border: #00f 1px solid;
  border-radius: 2px;
}
.textfield:hover {
  border-color: #add8e6;
}
.button {
  background-color: #00f;
  color: #fff;
  border: #808080 1px solid;
  border-radius: 2px;
}
.button:hover {
  background-color: #add8e6;
  border-right: #add8e6 1px solid;
  border-bottom: #add8e6 1px solid;
}
#menu {
  left: -500px;
  position: fixed;
  background-color: #808080;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border: #000 1px solid;
  width: 15%;
}
#menu.active {
  left: 1px !important;
  transition-property: left;
  transition-duration: 0.5s;
}
#menu.inactive {
  left: -500px;
  transition-property: left;
  transition-duration: 0.5s;
}
#menu ul {
  padding: 5px;
}
#menu li {
  padding: 5px;
}
#menubutton.active {
  border-radius: 15px;
  opacity: 1;
  position: fixed;
}
#menubutton:hover {
  opacity: 0.5;
  background-color: #000;
}
#menubutton.inactive {
  display: none;
}
#background {
  margin-left: auto;
  margin-right: auto;
  background-color: #d3d3d3;
  border-radius: 5px;
  box-shadow: 2px 2px #888;
  margin-bottom: 2em;
}
#background.original {
  width: 28%;
  height: 150px;
}
#background.expand {
  transition-property: width height;
  transition-duration: 0.5s;
  width: 90%;
  height: 90%;
  z-index: 2;
}
#content {
  padding: 2%;
}
#content.inactive {
  opacity: 0;
}
#content.active {
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
  opacity: 1;
}
#heading {
  padding-top: 40px;
  margin-left: 40px;
  font-size: 20px;
}
#createForm {
  float: center;
  width: 500px;
}
#createForm .textfield {
  padding: 5px;
  margin: 5px;
}
#createForm .button {
  padding: 5px;
  margin: 5px;
}
#content form#login {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding: 5px;
}
#content form#login .textfield {
  margin-top: 7px;
  width: 100%;
}
#content form#login .button {
  margin-top: 7px;
  width: 100%;
}
.centertext {
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  color: #808080;
}
#footer {
  position: fixed;
  border-top: #d3d3d3 2px solid;
  bottom: 0px;
  width: 100%;
  background: #fff;
}
#footer ul {
  display: inline;
}
#footer ul li {
  display: inline;
  padding-right: 10px;
  color: #808080;
}
#header {
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center;
  width: 100%;
}
#header h1 {
  color: #ffa500;
  font-size: 90px;
}
#header p {
  font-size: 35px;
}
#indexButton {
  display: table-cell;
  vertical-align: middle;
  height: 200px;
  text-decoration: none;
  width: 25%;
  text-align: center;
  font: 42px bold "Lucida Grande", Helvetica;
  border-radius: 30px;
}
#indexButton.green {
  background-color: #9f0;
}
#indexButton.blue {
  background-color: #09f;
}
#indexButton.red {
  background-color: #f90;
}
#indexButton.purple {
  background-color: #f09;
}
